@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
}
body {
  font-family: "Nunito", sans-serif;
}

:root {
  --primary-color: #3a0ca3;
  --primary-color-hover: #2a0977;
  --secondary-color: #f72585;
  --light-color: #f8f8f8;
  --primary-radius: 8px;
  --primary-font: "Nunito", sans-serif;
  --heading-color: #232323;
  --para-color: #555;
}
.container {
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
p {
  margin-bottom: 16px;
  color: var(--para-color);
  font-size: 18px;
  line-height: 28px;
  font-family: var(--primary-font);
}

/* For Header css */
.header {
  background-color: #fff;
  padding: 16px 0;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar-right-side {
  margin-left: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar-brand {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--heading-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 15px;
}
.navbar-brand .brand-name {
  display: inline-flex;
  flex-direction: column;
}
.navbar-brand .brand-name span {
  line-height: 1;
  display: inline-block;
  margin-bottom: 2px;
}
.navbar-brand .brand-name small {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--para-color);
  /* font-weight: 500; */
}
.navbar-brand .logo-icon {
  color: var(--primary-color);
  width: 40px;
  fill: currentColor;
  animation: logo 40s linear infinite;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
    color: var(--primary-color);
  }
  50% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--primary-color);
    transform: rotate(360deg);
  }
}
.brand-logo-footer {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}
.navbar-nav {
  list-style: none;
  display: inline-flex;
}

.menu-item .nav-link {
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease;
  font-size: 17px;
  font-weight: 600;
  padding: 12px 12px;
  line-height: 22px;
  color: var(--heading-color);
}
.menu-item .nav-link:hover {
  color: var(--primary-color);
}
/* For Header css end */
/* For btn css */
.btn-white:hover,
.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn {
  border: 1px solid var(--primary-color);
  border-radius: var(--primary-radius);
  font-weight: 600;
  font-size: 18px;
  padding: 12px 30px;
  cursor: pointer;
  font-family: var(--primary-font);
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  display: inline-block;
}
.btn-primary:hover {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}
.btn-white {
  border-color: #fff;
  background-color: #fff;
  color: var(--primary-color);
}
.btn-white-outline {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}
.btn-white-outline:hover {
  background-color: #fff;
  color: var(--primary-color);
}
/* For btn css end*/
.banner-section {
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 550px;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  transition: all ease-in-out 1s;
}
.banner1 {
  background-image: url("../images/banner1.jpg");
}
.banner2 {
  background-image: url("../images/banner2.jpg");
}
.banner3 {
  background-image: url("../images/banner3.jpg");
}
.care-section::before,
.banner-section::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #050119;
  opacity: 0.7;
}
.banner-info {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
.banner-info p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
  letter-spacing: 1px;
  text-shadow: 2px 0px 50px #ffffff;
}
.banner-info h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 50px;
  text-shadow: 2px 0px 50px #ffffff;
}

.banner-info h5.title-active {
  animation: banner-title-show 1 linear 1s;
}
.banner-info h5.title-de-active {
  animation: banner-title-hide 1 linear 1s;
}
.banner-info h5.title {
  display: none;
  transform: scale(0);
}
@keyframes banner-title-show {
  0% {
    transform: translateY(50px) scale(0.9);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    display: block;
  }
}
@keyframes banner-title-hide {
  0% {
    transform: translateX(0px);
    opacity: 1;
    display: block;
  }
  100% {
    transform: translateY(-50px) scale(0.9);
    opacity: 0;
    display: none;
  }
}
.banner-info .btn:not(:last-child) {
  margin-right: 10px !important;
}
.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.sub-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--secondary-color);
  text-transform: capitalize;
}
.separator {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 2px solid var(--primary-color);
  margin: 6px 0 24px 0;
  animation-name: separatorAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
  width: 63px;
}
@keyframes separatorAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 63px;
  }
}
.btn {
  animation-name: btnAnimation;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes btnAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.confidently-section,
.about-section {
  padding: 100px 0;
}
.confidently-section .data,
.about-section .data {
  display: flex;
}

.confidently-section .data .left,
.confidently-section .data .right,
.about-section .data .left,
.about-section .data .right {
  width: 50%;
}
.confidently-section .data .left img,
.about-section .data .right img {
  border-radius: var(--primary-radius);
  max-width: 100%;
}
span.number {
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
  color: var(--primary-color);
  text-transform: uppercase;
}
.features-section {
  background-color: var(--light-color);
  padding: 100px 0;
}
.features-section .features-row {
  display: flex;
}
.features-row .features {
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
  display: flex;
  gap: 15px;
}
.features .right h4 .link {
  font-size: 28px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
  text-decoration: none;
}
.features .right h4 {
  margin-bottom: 16px;
}

/* care section */

.care-section {
  background-size: cover;
  background-image: url("../images/banner3.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 550px;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
}
.care-section .left {
  max-width: 600px;
  width: 100%;
}
.care-section .title {
  color: #fff;
}
.care-section p {
  color: #fff;
}
/* Confidently Section */

.confidently-section .data .left {
  padding-right: 15px;
}
.confidently-section .data .right {
  padding-left: 15px;
}

/* Footer section */
.footer {
  background-color: #0f1113;
  padding: 60px 0;
}
.footer .data {
  display: flex;
}
.footer .data h6 {
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
}
.data .first,
.data .fourth {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.data .second,
.data .third {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.footer-menu {
  list-style: none;
  padding-left: 0;
}
.footer-menu li a {
  text-decoration: none;
  color: var(--para-color);
  font-size: 17px;
  transition: all ease-in-out 0.3s;
}
.footer .footer-menu li a:hover {
  color: #fff;
}
.footer-menu li {
  margin: 10px 0;
}
.footer p,
.footer .footer-menu li a {
  color: #777679;
}

/* Fade In Up Animation */
.fade-in-up {
  animation-name: fade-in-up;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Loader Section */

.loader-section {
  padding: 50px 0px;
  background-image: url("../images/bg.jpg");
  background-size: contain;
  min-height: 270px;
  background-repeat-y: no-repeat;
  overflow: hidden;
  max-width: 100%;
  position: relative;
}
.loader-section .ambulance {
  display: block;
  position: absolute;
  width: max-content;
  transform: scale(1.5);
  animation-name: ambulance;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-top: 135px;
}
.loader-section .ambulance .name {
  position: absolute;
  font-size: 8px;
  font-weight: 900;
  bottom: 49px;
  left: 52px;
  color: #fff;
}
@keyframes ambulance {
  0% {
    left: -300px;
  }
  100% {
    left: 100%;
  }
}
.loader-section .ambulance-car {
  width: 250px;
}
.loader-section .ambulance .tyre {
  position: absolute;
  width: 38px;
  animation-name: tyre;
  animation-duration: 2.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes tyre {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.light {
  position: absolute;
  width: 8px;
  height: 10px;
  top: 16px;
  right: 87px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid black;
  overflow: hidden;
  background-color: red;
}
.light.blue {
  background-color: blue;
}
.light.red {
  background-color: red;
}
.light.red::after,
.light.blue::after {
  content: "";
  height: 10px;
  position: absolute;
  animation-name: light;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.light.blue::after {
  background-color: red;
}
.light.blue::before {
  content: "";
  height: 10px;
  position: absolute;
  width: 90px !important;
  background-color: black;
  left: 0;
  background: linear-gradient(
    75deg,
    rgba(0, 0, 255, 0.527) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.light.red::before {
  content: "";
  height: 10px;
  position: absolute;
  width: 90px !important;
  background-color: black;
  right: 0;
  background: linear-gradient(
    75deg,
    transparent 0%,
    rgba(255, 0, 0, 0.527) 100%
  );
}
.light.red::after {
  background-color: blue;
}
@keyframes light {
  0% {
    left: 0;
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.loader-section .ambulance .tyre.tyre1 {
  left: 39px;
  bottom: 10px;
}
.loader-section .ambulance .tyre.tyre1 {
  left: 39px;
  bottom: 10px;
}
.loader-section .ambulance .tyre.tyre2 {
  right: 39px;
  bottom: 10px;
}

.chat-section {
  background-color: gray;
  padding: 50px 0;
}
.chat-load {
  background-color: white;
  display: inline-flex;
  gap: 5px;
  padding: 20px 20px;
  border-radius: 8px;
}
.chat-load .dot {
  width: 10px;
  height: 10px;
  background-color: #3a0ca3;
  border-radius: 10px;
  animation-name: dot;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.chat-load .dot:nth-of-type(1) {
  animation-delay: 0.1s;
}
.chat-load .dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.chat-load .dot:nth-of-type(3) {
  animation-delay: 0.3s;
}
@keyframes dot {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  25%,
  50%,
  75% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}

.loading {
  background-color: white;
  display: inline-flex;
  gap: 5px;
  padding: 20px 20px;
  border-radius: 8px;
  margin-left: 20px;
}
.loading .dot {
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
  animation-name: loadingDot;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.loading .dot:nth-of-type(1) {
  animation-delay: 0.1s;
}
.loading .dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading .dot:nth-of-type(3) {
  animation-delay: 0.3s;
}
@keyframes loadingDot {
  0%,
  25% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(0);
  }
}

.box-section {
  background-color: yellow;
  padding: 50px 0;
}

.box-section .box {
  position: relative;
  display: inline-block;
  border-collapse: collapse;
  height: 200px;
  width: 200px;
}

.box-section .box .back,
.box-section .box .front,
.box-section .box .bottom,
.box-section .box .left,
.box-section .box .right {
  height: 200px;
  width: 200px;
  border: 1px solid gray;
  background-color: white;
  border-collapse: collapse;
  position: absolute;
}
.box-section .box .bottom {
  transform: rotateX(80deg) rotateZ(12deg) rotateY(-2deg);
  background-color: red;
  bottom: -100px;
}
.box-section .box .right {
  transform: rotateY(80deg) rotateZ(-12deg);
  position: absolute;
  background-color: pink;
  z-index: 1;
  display: inline-block;
  right: -100px;
}
.box-section .box .left {
  transform: rotateY(-80deg) rotateZ(-12deg);
  position: absolute;
  background-color: green;
  display: inline-block;
  left: -102px;
  bottom: 3.5px;
  

}
.box-section .box .front{
  position: absolute;
  z-index: 1;
  background-color: #3131fd00;
  transform: rotateY(-10deg) rotateZ(0deg) rotateX(10deg);
  bottom: -16px;
  left: -16px;
  border: 1px solid;
}